
.may-about{
    background: #060A4E;
    .single-about{
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        @include flex-wrap(wrap);
        padding: 13px 0px;
        border-bottom: 1px solid #1E347C;
        
        .tittle-experience{
            padding-top: 15px;
            padding-bottom: 10px;
            h3{
                font-weight: 300;
                font-size: 30px;
                color: #FFF5BB;
                margin-bottom: 19px;
                @media #{$xs}{
                    font-size: 16px;
                }
                @media #{$sm}{
                    font-size: 25px;
                }
            }
            p{
                font-weight: 300;
                font-size: 16px;
                color: #fff;
            }
        }
        .experience-link{
            a{
                font-weight: 300;
                font-size: 16px;
                color: #FFF5BB;
                @media #{$xs}{
                    font-size: 13px;
                }   
                i{
                    padding-left: 10px;
                }
            }
        }
    }
}